* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
}

img {
  width: 100%;
}

input:focus {
  outline: none;
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: scale(0.9);
}

button:focus {
  outline: none;
}

.App {
  background-color: #f8f8f8;
  height: auto;
  min-height: 100vh;
  padding: 30px 0;
}

.form-child {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding: 1px 2px;
  width: 100%;
}

.form-child label {
  font-size: 18px;
  margin-bottom: 5px;
}

.form-child input[type=text], .form-child input[type=password] {
  border-radius: 2px;
  border: 1px solid #a3a3a3;
  padding: 4px;
  background-color: #fefefe;
}

input[type=text]:-webkit-autofill,
input[type=text]:-webkit-autofill:hover, 
input[type=text]:-webkit-autofill:focus, 
input[type=text]:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.form-child textarea {
  resize: none;
  height: 70px;
  border-radius: 2px;
  border: 1px solid #a3a3a3;
  padding: 2px 4px;
}

.form-child textarea:focus {
  outline: none;
}

.form-child select {
  border-radius: 2px;
  border: 1px solid #a3a3a3;
  padding: 4px;
  background-color: #fefefe;
  color: gray;
}

.form-child select:focus {
  outline: none;
}

.form-child input[type=file] {
  border-radius: 2px;
  border: 1px solid #a3a3a3;
  background-color: #fefefe;
  cursor: pointer;
}

.form-child input[type=file]:focus {
  outline: none;
}

.submit-button {
  width: 100%;
  cursor: pointer;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 2px;
  color: #f8f8f8;
  padding: 6px 0;
}

.submit-button:hover {
  opacity: 0.8;
}

.submit-button:active {
  transform: scale(0.9);
}